<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" android:versionCode="7" android:versionName="v1.0.7" package="com.divarc.fallenleaves.free">
  <uses-sdk android:targetSdkVersion="12" />
  <uses-feature android:name="android.software.live_wallpaper" />
  <application />
</manifest>